:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    margin: 0 ;
    width: 1352px;
}

/*NAWIGACJA plus logo*/

.header {
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    font-size: 32px;
    font-family: var(--font-raleway);
    font-weight: 300;
    color: var(--color-primary);
}
.header__nav {
    display: flex;
}
.nav__link {
    color: var(--color-grey);
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 28px 18px 26px;
    border-bottom: 3px solid transparent;
    letter-spacing: 3.28px;
}
.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}
.nav__element {
    padding: 0 26px;
}
.nav__element:last-child {
    padding-right: 136px;
}

/*sekcja z bannerem*/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__box {
    margin-top: 130px;
    text-align: center;
}
.banner__header {
    font-size: 49px;
    color: var(--color-black);
    margin-bottom: 20px;
}
.banner__p {
    font-size: 16px;
    font-family: var(--font-open-sans);
    margin-top: 40px;
    margin-bottom: 20px;
}
.btn {
    border: 3px solid #08A6E4;
    border-radius: 40px;
    background-color: var(--color-primary);
    font-size: 16px;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 22px 157px;
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
    margin-top: 20px;
}
.banner__img {
    width: 100%;
}

/*sekcja statystyki*/

.stat {
    margin-top: 100px;
}
.stat__box {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 100px auto 120px;
}
h2 {
    font-size: 36px;
    font-family: var(--font-raleway);
    text-align: center;
}
.stat__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-raleway);
    text-align: center;
    max-width: 116px;
}
.stat__circle {
    border-radius: 50%;
    height: 63px;
    width: 63px;
    position: relative;
}
.stat__img {
    position: absolute;
}
.stat__column:nth-child(1) .stat__circle {
    background-color: var(--color-redish);
}
.stat__column:nth-child(2) .stat__circle {
    background-color: var(--color-primary);
}
.stat__column:nth-child(2) .stat__img {
    top: 15px;
    left: 31%;
}
.stat__column:nth-child(3) .stat__circle {
    background-color: var(--color-green);
}
.stat__column:nth-child(3) .stat__img {
    top:5px;
    left: 50%;

}
.stat__number {
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: bold;
    letter-spacing: 5.96px;
    margin-top: 10px;
}
.stat__description {
    color: var(--color-grey);
    margin-top: 10px;
}
